*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh',sans-serif;

}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%,#ffb1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gen{
    margin-right: 0.5rem;

}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover{
    color: #4837ff;
    transition: all 0.3s ease;
}

@media  screen and (max-width:768px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 400px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    
}

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }
    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar_logo{
        padding-left: 5px;
    }
     .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
     }

     .navbar_item{
        width: 100%;
     }

     .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
     }

     #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
     
     }
     .navbar_toggle .bar {
        display: block;
        cursor: pointer;
     }
     #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
     }
     #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
     }
     #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
}

 }
 .main{
    min-height: 300vh;
    width: 100%;
    background: linear-gradient(rgba(7,59,76,0.5),rgba(0,0,0,0.2)),url(pic_2.png);
 }
 .text-box{
    width: 90%;
    color: #fff;
    position: relative;
    margin: 100px auto;
    text-align: center;
 }
 .text-box h1{
    font-size: 62px;
 }
 .text-box h2{
    font-size: 32px;
 }
 .text-box h4{
    font-size: 22px;
    position: relative;
 }
 .section{
    padding: 120px 20px;
    background:linear-gradient(rgba(7,59,76,0.5),rgba(0,0,0,0.2)),url(pic_2.png);
    min-height: 100vh;
    color: #fff;
    text-align: center;
 }
 .service-box{
    background: rgba(0,0,0,0.6);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
 }
 .section h1{
    color: #ff0844;
    font-weight: bold;
 }
 .navbar a.active{
    color: #ff4d4d;
    font-weight: bold;
 }
 .partner-box{
   background: rgba(0,0,0,0.6);
   margin: 20px auto;
   padding: 20px;
   width: 80%;
   border-radius: 10px;
 }
 .contact_us_box{
   background: rgba(0,0,0,0.6) ;
 }
 .footer{
   color: #fff;
   padding: 40px 20px;
 }

 .footer-container{
   max-width: 1000px;
   margin: auto;
 }
 .footer-title{
   font-size: 18px;
   font-weight: 600px;
   margin-bottom: 10px;
 }
 .line{
   height: 1px;
   background:rgba(255,255,255.0.5);
   margin-bottom: 20px;
 }
 .social-grid{
   display: flex;
   justify-content: space-between;
   gap: 40px;
   margin-bottom: 40px;
 }
 .social-grid ul{
   list-style: none;
   padding: 0;
 }

 .social-grid li {
   display: flex;
   align-items: center;
   font-size: 16px;
   margin-bottom: 14px;
 }

 .social-grid i {
   width: 22px;
   margin-right: 12px;
   font-size: 17px;
   color: #cfd8cf;
 }
 .footer-copy{
   font-size: 14px;
   line-height: 1.6rem;
   opacity: 0.9rem;
 }

 @media (max-width:600px) {
   .social-grid{
      flex-direction: column;
   }
 }
 .footer a {
   color: white;
   text-decoration: none;
   display: flex;
   align-items: center;
 }
 .footer a:hover{
   text-decoration: underline;
 }



    



